.card-container{
    display: flex;
}

.yoga-card{
 width:70%;
 margin:10px;
 background-color: aliceblue;   
}
.header-menu{
    text-align: center;
}
.card-menu{
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
}
.sidebar-menu{
    
    width:25%;
}
.profile{display: flex;

align-items: center;}
.trainer-image img{
    width:40px;
    border-radius: 90%;
    margin-right: 10px;
}
.Introductory p {margin-top:-20px ;}
.details{
    background-color:aliceblue ;
    display: flex;
    justify-content: space-around;
    padding:0px 20px 0px 20px;
    border-radius: 5px;
}
.details button {
    border-radius: 100%;
    border: none;
    margin: 30px 0 30px 0;
}
.details button:hover{background-color: orangered;}
.exercise-time{
    display: flex;
    justify-content: space-between;
    padding:15px 20px 15px 20px;
    border-radius: 5px;
    background-color:aliceblue ;
    margin-top: 10px;
}
.btn-activity{
    padding: 15px 60px;
    margin: 30px 40px 30px 40px;
    color: white;
    background-color: orangered;
    border: none;
    cursor: pointer;
    
}
.break-time{
    margin-left:50px;
    color: gray;
}
