.yoga-card{
 width:70%;
 margin:10px;
 background-color: aliceblue;   
}

.card-menu{
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
}