.card-container{
    display: flex;
}
.yoga-card{
 width:70%;
 margin:10px;
 background-color: aliceblue;   
}

.card-menu{
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
}
.profile{display: flex;
justify-content: space-between;
align-items: center;}
.trainer-image img{
    width:40px;
    border-radius: 90%;
    margin-right: 10px;
}
.Introductory p {margin-top:-20px ;}